@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ----- POPPINS FONT Link ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --color1-background-color: #67aac7;
    --color2-background-color: #f8fafc;
    --color3-background-color: #2e6897;
    --color4-background-color: #c7e0d3;
}

/* RESET */
body,
ul,
li,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #FFF;
}

.bold {
    font-weight: bold;
    color: #3a3232;
}

.bold2 {
    font-weight: bold;
    color: #FFF;
}

.container-geral {
    background-color: var(--color2-background-color);
    max-width: 100%;
}

/* ESTILIZANDO CABEÇALHO */

header {
    background-color: var(--color1-background-color);
    box-shadow: 0.5px 0.5px 10px 0.5px #000;
    padding: 1rem 2 rem;
    position: relative;
}

@media screen and (max-width: 425px) {
    header {
        text-align: center;
    }
}

.menu {
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 14px;
}

.menu img {
    height: 60px;
}

.menu p {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
    color: var(--color2-background-color);
}

@media screen and (max-width: 768px) {
    .menu p {
        font-size: 16px;
    }
}

@media screen and (max-width: 425px) {
    .menu p {
        letter-spacing: 1px;
    }
}

/* DARK MODE ICONES */
input[type="checkbox"] {
    display: none;
}

.bi {
    font-size: 1.5rem;
    cursor: pointer;
}

.bi-moon-stars-fill {
    display: none;
    fill: #FFF;
}

.bi-brightness-high-fill {
    fill: yellow;
}

/* Dark theme */
.dark header,
.dark .texto-depois-imagem,
.dark .containercomoteajudo,
.dark .rodape {
    background-color: var(--color3-background-color);
}

.dark .container-geral {
    background-color: var(--color4-background-color);
}

.dark .comoteajudo {
    color: #FFF;
}

.dark .bi-brightness-high-fill {
    display: none;
}

.dark .bi-moon-stars-fill {
    display: block;
}

/* LOGO e PRIMEIRA IMAGEM */

.container_imagens {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    margin: 30px;
}

@media screen and (max-width: 768px) {
    .container_imagens {
        gap: 1px;
        margin: 10px;
    }
}

@media screen and (max-width: 425px) {
    .container_imagens {
        display: block;
        padding: 10px;
        margin: 0 auto;
    }
}

.imagem-logo img {
    width: 400px;
    padding-top: 10px;
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
    .imagem-logo img {
        width: 200px;
    }
}

@media screen and (orientation: landscape) and (max-width: 768px) {
    .imagem-logo img {
        width: 180px;
        padding-top: 5px;
    }
}

@media screen and (max-width: 768px) {
    .imagem-logo img {
        width: 250px;
        padding-top: 10px;
    }
}

@media screen and (max-width: 425px) {
    .imagem-logo img {
        width: 250px;
        padding-top: 10px;
    }
}

@media screen and (max-width: 320px) {
    .imagem-logo img {
        width: 180px;
        padding-top: 10px;
    }
}

.imagem-destaque img {
    height: 450px;
    border-radius: 8px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
    .imagem-destaque img {
        height: 250px;
    }
}

@media screen and (orientation: landscape) and (max-width: 768px) {
    .imagem-destaque img {
        height: 200px;
    }
}

@media screen and (max-width: 768px) {
    .imagem-destaque img {
        height: 300px;
    }
}

@media screen and (max-width: 425px) {
    .imagem-destaque img {
        height: 300px;
    }
}

@media screen and (max-width: 375px) {
    .imagem-destaque img {
        height: 250px;
    }
}

@media screen and (max-width: 320px) {
    .imagem-destaque img {
        height: 200px;
    }
}

.imagem-destaque figcaption {
    margin-bottom: 25px;
    font-size: 20px;
    font-style: inherit;
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
    .imagem-destaque figcaption {
        font-size: 15px;
        font-style: inherit;
        text-align: center;
        margin: 0 auto;
        max-width: 250px;
    }
}

@media screen and (max-width: 768px) {
    .imagem-destaque figcaption {
        font-size: 16px;
        max-width: 300px;
    }
}

/* QUEM SOU EU? */

.texto-depois-imagem {
    background-color: var(--color1-background-color);
    padding: 26px;
}

.resumo {
    width: 50%;
    margin: 0 auto;
    background-color: var(--color2-background-color);
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
    .resumo {
        width: 90%;
    }
}

@media screen and (orientation: landscape) and (max-width: 768px) {
    .resumo {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .resumo {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .resumo {
        width: 100%;
    }
}

.text-rm {
    padding: 2%;
    text-align: justify;
}

.text-rm p {
    font-weight: 500;
}

@media screen and (orientation: landscape) and (max-width: 768px) {
    .texto-depois-imagem p {
        max-width: 600px;
        font-size: 16px;
    }
}

@media screen and (max-width: 425px) {
    .texto-depois-imagem p {
        margin: 0 15px;
        font-size: 14px;
    }
}

@media screen and (max-width: 375px) {
    .texto-depois-imagem p {
        margin: 0 15px;
        font-size: 14px;
    }
}

/* NÚMEROS DE EXPERIÊNCIA  */

.fundo-base {
    display: flex;
    justify-content: center;
    padding: 30px;
}

@media screen and (max-width: 768px) {
    .fundo-base {
        display: flex;
        justify-content: center;
        justify-self: center;
    }
}

@media screen and (max-width: 425px) {
    .fundo-base {
        display: block;
    }
}

.informacoes3 {
    padding: 35px;
    text-align: center;
    display: flex;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .informacoes3 {
        padding: 5px;
    }
}

@media screen and (max-width: 425px) {
    .informacoes3 {
        display: grid;
        padding: 3px;
    }
}

.h1 {
    font-size: 35px;
    font-weight: 900;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .h1 {
        font-size: 35px;
    }
}

@media screen and (max-width: 425px) {
    .h1 {
        font-size: 40px;
    }
}

.numeros-corbase {
    line-height: 1;
    font-weight: bold;
    font-size: 55px;
    color: #56b9c2;
}

@media screen and (max-width: 768px) {
    .numeros-corbase {
        font-size: 22px;
    }
}

@media screen and (max-width: 425px) {
    .numeros-corbase {
        font-size: 42px;
    }
}

@media screen and (max-width: 768px) {
    .titulos-corbase {
        font-size: 13px;
    }
}

@media screen and (max-width: 425px) {
    .titulos-corbase {
        font-size: 18px;
    }
}

.img-cicle {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    object-fit: cover;
    text-align: center;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
}

@media screen and (max-width: 768px) {
    .img-cicle {
        height: 150px;
        width: 150px;
    }
}

@media screen and (max-width: 425px) {
    .img-cicle {
        display: none;
    }
}

/* COMO TE AJUDO */

.containercomoteajudo {
    background-color: var(--color1-background-color);
    margin: 0 auto;
    text-align: justify;
    padding-bottom: 20px;
}

@media screen and (max-width: 425px) {
    .container-comoteajudo {
        padding: 8px;
    }
}

.btn-magico {
    width: min(80%, 1050px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 0.7rem;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    font-size: 17px;
    font-weight: 550;
}

@media screen and (orientation: landscape) and (max-width: 768px) {
    .btn-magico {
        width: min(80%, 750px);
        font-size: 15px;
    }
}

@media screen and (max-width: 425px) {
    .btn-magico {
        width: min(90%, 750px);
    }
}

@media screen and (max-width: 425px) {
    h1 {
        margin: 6px;
    }
}

.tab {
    width: 100%;
    position: relative;
    background-color: var(--color2-background-color);
    border-radius: 2.5rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
}

@media screen and (orientation: landscape) and (max-width: 768px) {
    .tab {
        border-radius: 0.5rem;
    }
}

@media screen and (max-width: 768px) {
    .tab {
        width: min(100%);
        border-radius: 0.5rem;
    }
}

@media screen and (max-width: 425px) {
    .tab {
        width: min(100%);
        border-radius: 0.5rem;
    }
}

@media screen and (max-width: 375px) {
    .tab {
        width: min(100%);
        border-radius: 0.5rem;
    }
}

.tab:hover {
    color: #000;
    background-color: #dadada;
}

.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tab .tab-content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in;
}

.tab input:checked~.tab-content {
    max-height: 750px;
    color: rgb(28, 95, 172);
}

@media screen and (max-width: 1024px) {
    .tab input:checked~.tab-content {
        max-height: 1000;
        color: rgb(28, 95, 172);
    }
}

@media screen and (max-width: 768px) {
    .tab input:checked~.tab-content {
        max-height: 1000px;
        color: rgb(28, 95, 172);
    }
}

@media screen and (max-width: 425px) {
    .tab input:checked~.tab-content {
        max-height: 1000px;
        color: rgb(28, 95, 172);
    }
}

@media screen and (max-width: 375px) {
    .tab input:checked~.tab-content {
        max-height: 1000px;
        color: rgb(28, 95, 172);
    }
}

.tab-content p {
    font-weight: 550;
    margin-bottom: 15px;
}

@media screen and (orientation: landscape) and (max-width: 768px) {
    .tab-content p {
        text-align: justify;
        font-size: 14px;
    }
}

@media screen and (max-width: 425px) {
    .tab-content p {
        text-align: justify;
        font-size: 13px;
    }
}

.tab-wrapper {
    width: 100%;
    height: 100%;
    padding: 0.1rem 3rem;
    border: none;
    border-radius: 0.5rem 0.5rem 0 0;
    transition: background-color 0.25s ease-in;
    box-sizing: border-box;
}

@media screen and (max-width: 780px) {
    .tab-wrapper {
        width: 100%;
        padding: 0.1rem 1rem;
        border-radius: 0.5rem 0.5rem 0 0;
        transition: background-color 0.25s ease-in;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 600px) {
    .tab-wrapper {
        width: 100%;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem 0.5rem 0 0;
        transition: background-color 0.25s ease-in;
        box-sizing: border-box;
    }
}

.tab-wrapper:hover {
    font-weight: 550;
}

.tab label {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 1.25rem;
    border-radius: 0.5rem;
}

@media screen and (orientation: landscape) and (max-width: 768px) {
    .tab label {
        font-size: 18px;
    }
}

@media screen and (max-width: 425px) {
    .tab label {
        width: min(100%);
        border-radius: 5rem;
        padding: 0.5rem 0;
        gap: 10px;
        font-size: 14px;
    }
}

.tab__label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transform: rotate(90deg);
    transition: all 0.5s;
}

.tab input:checked+.tab__label::after {
    transform: rotate(270deg);
}

/* FALE COMIGO */

.fale-comigo-geral {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 425px) {
    .fale-comigo-geral {
        display: block;
        padding: 20px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 375px) {
    .fale-comigo-geral {
        display: grid;
    }
}

/* IMAGEM 2*/
.imagem-2 img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    object-fit: cover;
    text-align: center;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
}

@media screen and (orientation: landscape) and (max-width: 768px) {
    .imagem-2 img {
        height: 200px;
        width: 200px;
    }
}

@media screen and (max-width: 425px) {
    .imagem-2 img {
        width: 300px;
    }
}

@media screen and (max-width: 375px) {
    .imagem-2 img {
        width: 200px;
        height: auto;
    }
}

.fale-comigo {
    display: flex;
    flex-direction: column;
}

.fale-comigo p {
    font-size: 30px;
    color: #000;
    height: 50px;
    font-weight: 450;
}

@media screen and (orientation: landscape) and (max-width: 768px) {
    .fale-comigo p {
        font-size: 20px;
    }
}

@media screen and (max-width: 425px) {
    .fale-comigo p {
        font-size: 24px;
    }
}

@media screen and (max-width: 375px) {
    .fale-comigo p {
        font-size: 24px;
        height: 50px;
    }
}

.btn-fale-comigo {
    background-color: #25D366;
    padding: 12px;
    font-size: 18px;
    opacity: 0.8;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (orientation: landscape) and (max-width: 768px) {
    .btn-fale-comigo {
        background-color: #25D366;
        padding: 10px 20px;
        font-size: 20px;
    }
}

@media screen and (max-width: 375px) {
    .btn-fale-comigo {
        padding: 10px;
        font-size: 22px;
    }
}

.btn-fale-comigo:hover {
    opacity: 1;
    transform: scale(1.04);
    background-color: #25D366;
}

/* FOOTER */

.rodape {
    background-color: var(--color1-background-color);
    display: grid;
    text-align: center;
    margin: 0 auto;
}

.rodape p {
    font-size: 18px;
    color: #FFF;
    text-align: center;
    padding-top: 20px;
}

@media screen and (max-width: 425px) {
    .rodape p {
        font-size: 16px;
    }
}

@media screen and (max-width: 375px) {
    .rodape p {
        font-size: 14px;
    }
}

/* ICONS */

#footer_social_media {
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 1.2rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
    transform: scale(1.3);
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#linkedin {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

/* AGENDE SUA CONSULTA - IMAGEM FIXA WHATSAPP */

.imagem-fixa1 img {
    width: 180px;
    height: auto;
    position: fixed;
    top: 100px;
    right: 20px;
}